{% extends 'base.html' %}

{% block title %}Blog Home{% endblock title %}

{% block css %}

.card-img, .card-img-bottom, .card-img-top {
max-height: 393px;
}

.w-100 {
  padding-bottom: 1px;
  background-color: #ccecff;
  background-image: linear-gradient(346deg, #ccecff 0%, #dbfffb 50%, #ffffff 100%);
  border-radius: 0.5rem 0.5rem 0 0;
}

.card {
border: 0;
box-shadow: 0 2px 15px -3px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%);
}

@media screen and (max-width:983px)
{
.d-flex {
display: none;
}

.col {
flex: none;
}

.row{
flex-shrink:0;
}
}

@media (min-width: 1200px)
{
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1100px;
  }
}

{% endblock css %}

{% block blogActive %}active{% endblock blogActive %}

{% block body %}
<div class="w-100">
  <div class="container my-2">
    <h3>Coding Articles by - iCoder</h3>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for post in allPosts %}
      <div class="col">
        <div class="card">
          <img src="/media/{{post.image}}" class="card-img-top" alt="Image not loaded!" />
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">
              {{post.content | truncatechars:200}} <a href="/blog/{{post.slug}}">Continue Reading</a>
            </p>
            <p class="card-text">
              <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong><br>
              <small class="text-muted">Last Update {{post.timeStamp}}</small>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock body %}